body {
    font-family: Arial, sans-serif;
    width: 350px;
    padding: 20px;
    background-color: #f0f8ff;
    margin: 0 auto;
}

select[multiple] option:checked {
    background-color: #b3d4fc;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.section-title:first-child {
    left: 0;
    margin-left: 25px;
}

.section-title:last-child {
    right: 0;
    margin-right: 25px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section-info {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}

.last-lesson-highlight {
    color: DarkOrchid;
    font-weight: bold
}

.container, #time-remaining {
    font-size: 14px;
    margin-bottom: 20px;
}

#range-container {
    display: flex;
    align-items: center;
}

#time-range, #reviewSelect {
    flex: 1;
    width: 100%;
}

#selected-time {
    margin-left: 10px;
}

#last-lesson {
    cursor: pointer;
    color: DodgerBlue;
}

.btn {
    appearance: none;
    -webkit-appearance: none;
    font-size: 10vw;
    background: none;
    padding: 0;
    border: none;
    color: #8B008B;
    cursor: pointer;
    margin-top: 3px;
}
  
.btnSvg {
    display: flex;
    height: 32px;
    margin: 0;
    position: absolute;
    transform: translate(-50%);
    &:hover {
        filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.2));
        lighting-color: #b3d4fc;
    }
}
  
  .btn .btnSvgPath {
    transition: 0.3s;
    border: none;
    stroke-width: 1.6;
    stroke-linecap: round;
    stroke-linejoin: round;
}
  
.btn:hover .btnSvgPath {
    stroke-width: 2.2;
    color: #8A2BE2;
    vertical-align:center;
    transform:scale(0.97);
    transition:300ms;
}

.btn:active .btnSvgPath {
    stroke: #778899;
    stroke-width: 2;
    filter: drop-shadow(0 0 1px #b0c4de70);
    transform:scale(0.95);
    transition: 100ms;
}

.btn:focus .btnSvgPath {
    stroke: #B0C4DE;
    stroke-opacity: "0.2";
    stroke-width: 1.7;
}

#reviewSelect .selected {
    background-color: #d3d3d3;
    color: #000;
}

#prev-section-btn,
#next-section-btn {
    position: absolute;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #21415ecb;
    color: #fff;
    border: none;
    border-radius: 14px;
    max-width: fit-content;
    font-size: 14px;
}

#prev-section-btn:not([disabled]):hover,
#next-section-btn:not([disabled]):hover {
    color: #FFD700;
    background-color: #2c679ecb;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #5a01a7;
}

#prev-section-btn[disabled],
#next-section-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}